/* You can add global styles to this file, and also import other style files */
/* Mixin to set flex align and justify content property */
@font-face {
  font-family: "Static";
  src: url("../src/assets/fonts/Static.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../src/assets/fonts/Lato-Regular.ttf") format("truetype");
}
body {
  font-family: "Lato Regular", sans-serif;
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: #FAFAFA;
  /* Styles for the title container and informational text on mobile*/
  /* Styles for the main image container and the web page login form on mobile*/
}
.main .main-info .main-info__title {
  text-align: center;
  font-family: "Static", sans-serif;
  margin: 0px;
  font-size: 30px;
  padding-top: 30px;
}
.main .main-info .main-info__text {
  font-size: 18px;
  text-align: center;
}
.main .main-card {
  background-color: #FFFFFF;
  margin: 30px 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.199);
  display: flex;
  flex-direction: column;
}
.main .main-card .main-card-image .main-card-image__img--desktop {
  display: none;
}
.main .main-card .main-card-image .main-card-image__img--mobile {
  width: 100%;
}
.main .main-card .main-card-login {
  margin: 20px 20px;
}
.main .main-card .main-card-login .main-card-login-account .main-card-login-account__title {
  font-size: 23px;
}
.main .main-card .main-card-login .main-card-login-account .main-card-login-account-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .main-card .main-card-login .main-card-login-account .main-card-login-account-button .main-card-login-account-button__btn {
  border-radius: 30px;
  padding: 10px 30px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lato Regular", sans-serif;
  border: 2px solid black;
  background-color: #FFFFFF;
  white-space: nowrap;
}
.main .main-card .main-card-login .main-card-login-account .main-card-login-account-button .main-card-login-account-button__btn .main-card-login-account-button__btn--icon {
  margin-right: 10px;
}
.main .main-card .main-card-login .main-card-login-account .main-card-login-account-button .main-card-login-account-button__btn .main-card-login-account-button__btn:last-child {
  margin-right: 0;
}
.main .main-card .main-card-login .main-card-login-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}
.main .main-card .main-card-login .main-card-login-divider .main-card-login-divider__line {
  width: 30%;
}
.main .main-card .main-card-login .main-card-login-divider .main-card-login-divider__text {
  text-align: center;
  font-size: 14px;
  color: #5A5A5A;
}
.main .main-card .main-card-login .main-card-login-input .main-card-login-input-user {
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 20px 10px;
}
.main .main-card .main-card-login .main-card-login-input .main-card-login-input-user .main-card-login-input-user__title,
.main .main-card .main-card-login .main-card-login-input .main-card-login-input-user .main-card-login-input-user__text {
  display: none;
}
.main .main-card .main-card-login .main-card-login-input .main-card-login-input-user .main-card-login-input-user__title--mobile {
  border: none;
  font-size: 15px;
  outline: none;
}
.main .main-card .main-card-login .main-card-login-input .main-card-login-input-password {
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 20px 10px;
  margin-top: 15px;
}
.main .main-card .main-card-login .main-card-login-input .main-card-login-input-password .main-card-login-input-password__title,
.main .main-card .main-card-login .main-card-login-input .main-card-login-input-password .main-card-login-input-password__text {
  display: none;
}
.main .main-card .main-card-login .main-card-login-input .main-card-login-input-password .main-card-login-input-password-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main-card .main-card-login .main-card-login-input .main-card-login-input-password .main-card-login-input-password-mobile .main-card-login-input-password-mobile__title {
  border: none;
  font-size: 15px;
  outline: none;
}
.main .main-card .main-card-login .main-card-login-input .main-card-login-input-password .main-card-login-input-password-desktop {
  display: none;
}
.main .main-card .main-card-login .main-card-login-alert .main-card-login-alert__lifemiles {
  cursor: pointer;
}
.main .main-card .main-card-login .main-card-login-alert .main-card-login-alert__lifemiles .main-card-login-alert__lifemiles--link {
  color: #34b7c9;
}
.main .main-card .main-card-login .main-card-login-alert .main-card-login-alert__policy {
  font-size: 13px;
  margin: 30px 0px;
  cursor: pointer;
}
.main .main-card .main-card-login .main-card-login-alert .main-card-login-alert__policy .main-card-login-alert__policy--link {
  color: #34b7c9;
}
.main .main-card .main-card-login .main-card-login-btn {
  display: flex;
  flex-direction: column;
}
.main .main-card .main-card-login .main-card-login-btn .main-card-login-btn__login {
  border-radius: 30px;
  font-family: "Lato Regular", sans-serif;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 600;
  background-color: #1B1B1B;
  color: #FFFFFF;
  border: 2px solid #1B1B1B;
}
.main .main-card .main-card-login .main-card-login-btn .main-card-login-btn__account {
  border-radius: 30px;
  font-family: "Lato Regular", sans-serif;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
  white-space: nowrap;
  border: 2px solid #1B1B1B;
}

@media (max-width: 480px) {
  .main {
    /* Styles for the title container and informational text on mobile*/
  }
  .main .main-card {
    /* Styles for the main image container and the web page login form on mobile*/
  }
  .main .main-card .main-card-login .main-card-login-account .main-card-login-account-button {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Styles for the title container and informational text on desktop*/
    /* Styles for the main image container and the web page login form on desktop*/
  }
  .main .main-info .main-info__title {
    font-size: 35px;
    padding-top: 40px;
  }
  .main .main-info .main-info__text {
    font-size: 20px;
  }
  .main .main-card {
    margin: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 950px;
  }
  .main .main-card .main-card-image .main-card-image__img--desktop {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .main-card .main-card-image .main-card-image__img--mobile {
    display: none;
  }
  .main .main-card .main-card-login {
    margin: 20px 60px;
  }
  .main .main-card .main-card-login .main-card-login-account .main-card-login-account__title {
    font-size: 25px;
  }
  .main .main-card .main-card-login .main-card-login-account .main-card-login-account-button .main-card-login-account-button__btn {
    padding: 5px 20px;
  }
  .main .main-card .main-card-login .main-card-login-account .main-card-login-account-button .main-card-login-account-button__btn:hover {
    background-color: rgba(180, 180, 180, 0.363);
    transition: 0.5s ease;
  }
  .main .main-card .main-card-login .main-card-login-divider .main-card-login-divider__text {
    white-space: nowrap;
    margin: 0px 5px;
  }
  .main .main-card .main-card-login .main-card-login-input .main-card-login-input-user {
    padding: 10px 10px;
  }
  .main .main-card .main-card-login .main-card-login-input .main-card-login-input-user .main-card-login-input-user__title {
    display: block;
    font-size: 11px;
    color: #5A5A5A;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
  }
  .main .main-card .main-card-login .main-card-login-input .main-card-login-input-user .main-card-login-input-user__text {
    display: block;
    border: none;
    outline: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  .main .main-card .main-card-login .main-card-login-input .main-card-login-input-user .main-card-login-input-user__title--mobile {
    display: none;
  }
  .main .main-card .main-card-login .main-card-login-input .main-card-login-input-password {
    padding: 10px 10px;
  }
  .main .main-card .main-card-login .main-card-login-input .main-card-login-input-password .main-card-login-input-password__title {
    display: block;
    font-size: 11px;
    color: #5A5A5A;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
  }
  .main .main-card .main-card-login .main-card-login-input .main-card-login-input-password .main-card-login-input-password-mobile {
    display: none;
  }
  .main .main-card .main-card-login .main-card-login-input .main-card-login-input-password .main-card-login-input-password-desktop {
    display: flex;
    justify-content: space-between;
  }
  .main .main-card .main-card-login .main-card-login-input .main-card-login-input-password .main-card-login-input-password-desktop .main-card-login-input-password-desktop__text {
    border: none;
    outline: none;
    font-size: 15px;
  }
  .main .main-card .main-card-login .main-card-login-input .main-card-login-input-password .main-card-login-input-password-desktop .main-card-login-input-password-desktop__icon {
    margin-right: 10px;
  }
  .main .main-card .main-card-login .main-card-login-btn .main-card-login-btn__login:hover {
    background-color: rgb(87, 86, 86);
    transition: 0.5s ease;
    border: 2px solid rgb(87, 86, 86);
  }
  .main .main-card .main-card-login .main-card-login-btn .main-card-login-btn__account:hover {
    background-color: rgba(180, 180, 180, 0.788);
    transition: 0.5s ease;
  }
}/*# sourceMappingURL=main.component.css.map */