@import '../../../styles.scss';

/* Styles for the website header section on desktop */
.header{
  background-color: $header-background-color;
  @include set-flex-align-and-justify-content(center, flex-start);
  height: 70px;

  .header__logo{
    padding: 15px 0px 10px 95px ;
  }
}


@media (max-width: 992px){

  /* Styles for the website header section on mobile */
.header{
  background-color: $header-background-color;
  @include set-flex-align-and-justify-content(center, center);
  height: 70px;

  .header__logo{
    padding: 0px;
  }
}
}
