/* You can add global styles to this file, and also import other style files */
@import '../src/app/core/mixins.scss';
@import '../src/app/core/variables.scss';


@font-face {
  font-family: 'Static';
  src: url('../src/assets/fonts/Static.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('../src/assets/fonts/Lato-Regular.ttf') format('truetype');
}

body{
  font-family: 'Lato Regular', sans-serif;
  margin: 0px;
  padding: 0px;
}
